#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.container {
  text-align: center;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px; /* Adjust the width based on your design */
  text-align: center;
}

.item-name,
.item-location { font-weight: bold;
  margin-bottom: 5px;
  /* Additional styling for item name and location */
}
.item-location {
  color: #007bff;
}
